* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* General Fonts */

body {
    font-family: "Roboto", system-ui;
    color: #000000;
    background-color: #f0f0f0;
    background-image: url(assets/test.JPG);
}

h1 {
    font-family: "Afacad Flux", sans-serif;
    text-align: center;
    font-size: 3em;
}

h2 {
    font-family: "Afacad Flux", sans-serif;
    text-align: left;
}

h3 {
    font-family: "Afacad Flux", sans-serif;
    text-align: center;
    font-size: 2em;
}

p {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 1.25em;
}

a {
    color: #000000;
}

.center {
    text-align: center;
}

.code {
    font-family: "DM Mono", monospace;
}

.button {
    font-family: "Afacad Flux", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 1.25em;
    text-decoration: none;
    padding: 7px;
    border-radius: 10px;
    color: #000000;
    background-color: #bf77f6;
}

.button:hover {
    color: #ffffff;
    background-color: #000000;
}

/* Nav Bar */

.nav_bar {
    background-image: -webkit-linear-gradient(-45deg, #bf77f6 30%, #ffffff 30%);
    height: 5em;
    border-radius: 15px;
    top: 10px;
    left: 10px;
    right: 10px;
    position: fixed;
}

.nav_title {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 700;
    font-size: 3em;
    width: 45%;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 5%;
}

.nav_title a {
    text-decoration: none;
    color: #000000;
}

.nav_options {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 700;
    font-size: 2em;
    width: 45%;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 5%;
}

.nav_option {
    text-decoration: none;
    float: right;
    list-style-type: none;
    margin-left: 25px;
    background-image: linear-gradient(to right, #bf77f6 50%, #ffffff 50%);
    background-size: 200% 4px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition: background-position .3s;
}

.nav_option:hover {
    background-position: 0% 100%;
}

.nav_link {
    text-decoration: none;
    color: #000000;
}

/* Content */

.main_content {
    width: 50%;
    margin-left: 25%;
}

.full_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.supporters {
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 20px;
}

.image_row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.image_row_pic {
    height: 40px;
    max-width: 200px;
    object-fit: contain;
}

.log {
    background-color: #ffffff;
    border-radius: 25px;
    margin-bottom: 50px;
}

.log_section {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.task_list {
    list-style-type: "✅";
    margin-left: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 85%;
}

.body_list {
    list-style-type: "➡️";
    margin-left: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/* Tiles */

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tile {
    text-decoration: none;
    width: 250px;
    background-color: #bf77f6;
    border-radius: 25px;
    display: box;
}

.tile_title {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    font-size: 2em;
}

.tile_subtitle {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.25em;
}
